# Python
__pycache__/
*.pyc

# Environment Variables
.env
messaging_app/.env
# Virtual Environments
.venv/
env/
venv/

# VS Code settings (optional but useful)
.vscode/

# System files (optional)
.DS_Store
Thumbs.db
